#root {
  height: 100vh;
  width: 100vw;
  background-color: #337ab7;
  position: absolute;
  top: 0px;
  left: 0px;
}

.rowC {
  height: 100vh;
  padding: 50px;
}

.MuiPaper-root-4 {
  border: 1px red solid;
  margin: 10px;
  /* width: 50%; */
}

.MuiCardMedia-root-37 {
  max-height: 25vh;
}

.MuiCardMedia-root-38 {
  max-height: 150px;
}

.MuiCardContent-root-40 {
  min-height: 200px;
}

@media screen and (min-width: 500px) {
  .rowC {
    display: flex;
    flex-direction: row;
  }

  .MediaCard-card-1 {
    width: 100%;
  }
}
